@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rubik+Glitch&display=swap');

:root{
    --primary-color: #cf0f0f;
    --primary-color-contrast: #fff;
    --field-background-color: #000;
}

.light-theme{
    --page-background: linear-gradient(
        180deg,
        #fff 0%,
        #fff 65%,
        rgba(255,255,255,0.75) 100%
    );
    --header-background-color: #e3e3e3;
    --highlight-color: #000;
    ---feature-font-family: "Archivo", sans-serif;
    --character-top-image-src: url("/assets/images/characters/kids-on-the-bike.svg");
    --character-top-image-color: #fff;
    --character-bottom-image-src: url("/assets/images/characters/inverted-world-monster.svg");
    --character-top-image-color: #e5e5e5;
    -background-lamp-image: url("/assets/images/backgrounds/lamps.png");
    --footer-background-color: #b5bbbf;
}

*{
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3{
    font-family: var(---feature-font-family);
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 40px;
}

p{
    color: var(--highlight-color)
}

p,
input,
textarea,
label{
    font-family: "Libre Basketville", serif;
}

button{
    padding: 16px 32px;
    background-color: transparent;
    font-weight: 900;
    font-family: var(---feature-font-family);
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 1s;
}

